<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(133, 133, 133);">
    <h1 style="width: max-content; margin:0 auto">Love Calculator</h1>
    <div class="container" style="text-align:center; width: max-content; margin:0 auto;border-style:double;">
        <form action="getPercentage" method="get">
            <div>
                First Name: <input type="text" name="fname" id="fname" required />
            </div>
            <br>
            <div>
                Second Name: <input type="text" name="sname" id="sname" required />
            </div>
            <br>
            <button type="submit">Calculate Love</button>
        </form>
        <br>
        <div>
            <form action="/list" method="get">
                <button type="submit">Show all results</button>
            </form>
        </div>
        <br>
        <div>
            <button onclick="location.href='list'">Also show results</button>
        </div>
    </div>
</body>
</html>