<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color:rgb(133, 133, 133);">
    <h1 style="width: max-content; margin:0 auto">List</h1>
    <div class="container" style="text-align:center; width: max-content; margin:0 auto;">
      <table border="2" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:x-large">
        <tr th:each="a, num : ${love}"
          th:style="${a.percentage > 70}? 'font-weight: bold;'">
          <td th:text="${num.index+1}" />
          <td th:text="${a.fname}" />
          <td />&hearts;
          <td th:text="${a.sname}" />
          <td th:text="${a.percentage}" />
          <td th:text="${a.result}" />
        </tr>
      </table>
      <br>
        <button onclick="location.href='/'" class="h-8 px-4 m-2 text-sm text-indigo-100 transition-colors duration-150 bg-green-700 rounded-lg focus:shadow-outline hover:bg-indigo-800" type="submit">Back to calculator</button>
    </div>
  </body>
</html>
