<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love</title>
</head>
<body data-th-object="${love}">
    <div class="container">
        First name:
        <p data-th-text="*{fname}"></p>
        <br>
        Second name:
        <p data-th-text="*{sname}"></p>
        <br>
        Percentage:
        <p><span data-th-text="*{percentage}"></span></p>
        <br>
        Result:
        <p data-th-text="*{result}"></p>
        <br>
    </div>
</body>
</html>